<!-- <?php 
//set default value
if(!isset($name)){$name='';}
 ?> -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>s</title>
<script src="js/jquery.min.js"></script>
<link href="css/style.css" rel="stylesheet" media="all"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
</head>
<body>
<div class="header">
		<div class="header-main">
			   <p>Website Mỹ phẩm Thái Nguyên</p>
			   <h1>Đăng kí</h1>
			<div class="header-bottom">
				<div class="header-right w3agile">
					
					<div class="header-left-bottom agileinfo">
						
					 <form action="#" method="post">
						 <label>Họ tên: </label>
						 <input type="text"  value="Nguyễn Văn A" name="realname" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nguyễn Văn A';}"/>
						 <label>Tên đăng nhập: </label>
						 <input type="text"  value="nguyenvana" name="name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'nguyenvana';}"/>
						 <label>Mật khẩu: </label>
						 <input type="password"  value="password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}"/>
						 <label>Địa chỉ: </label>
						 <input type="text"  value="Số nhà 8 Z115 Quyết Thắng TP Thái Nguyên, Thái Nguyên" name="address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Số nhà 8 Z115 Quyết Thắng TP Thái Nguyên, Thái Nguyên';}"/>
						<div class="clear"> </div>
						<input type="submit" value="Đăng kí">
					</form>	
					
				</div>
				</div>
			  
			</div>
		</div>
</div>
</body>